sources:
  nginx_logs:
    type: file
    include:
      - "/var/log/nginx/my_access.log"
    read_from: end

sinks:
  clickhouse:
    type: clickhouse
    inputs:
      - "nginx_logs"
    endpoint: "http://127.0.0.1:8123"
    database: {{ db_name }}
    table: {{ table_name }}
    skip_unknown_fields: true
